################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Imdb/Imdb/bin/Debug/net5.0
/Imdb/Imdb/bin/Debug/net5.0
