################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/Imdb/Imdb/bin/Debug/net5.0
/Application/obj/
/ApplicationTests/obj/
/GlobalUtils/obj/
/Domain/obj/
/Imdb/obj/
/Infrastructure/obj/
/Infrastructure.Interfaces/obj/
*.cache
*.suo
*.ini